.form-group {
  label {
    @apply mb-2 text-xs block
  }
  input {
    @apply focus-visible:ring-0 focus-visible:outline-none
  }
  &:not(:last-child) {
    @apply mb-5
  }
  .form-control {
    @apply focus:ring-0 focus:border-teal block w-full text-sm border-gray-300 rounded text-black-700 placeholder-black-400 border px-4 py-3;
    line-height: 1.315rem;
    letter-spacing: -0.01em;
    height: 44px;
    &.form-control-sm {
      height: 30px;
      @apply pr-12  py-1.5;
    }
    &.form-control-lg {
    }
    &.form-control-solid {
      @apply bg-black-50
    }
    &.is-error {
      @apply border-red
    }
  }

  .input-group {
    @apply relative flex flex-wrap items-stretch w-full border border-divider dark:border-divider-dark rounded focus:ring-0 focus:outline-none;
    @apply bg-bgInput dark:bg-bgInput-dark;
    &.is-error {
      @apply border-red
    }

    &:hover {
      @apply border-teal;
    }

    .form-control {
      width: 1%;
      min-width: 0;
      margin-bottom: 0;
      @apply relative flex-grow border-0 bg-transparent text-txtPrimary dark:text-txtPrimary-dark;

      ::placeholder {
        @apply text-txtSecondary dark:text-txtSecondary-dark;
      }
    }
    .form-control:not(:last-child) {
    }
    .input-group-append, .input-group-prepend {
      display: flex;
    }
    .input-group-append, .input-group-prepend {
      margin-left: -1px;
      @apply px-3;
      .btn {
        @apply px-0 py-0;
      }
      .input-group-text {
        // line-height: 1.315rem!important;
        @apply flex items-center text-center whitespace-nowrap text-sm;
      }
    }
    .input-group-separator {
      align-self: stretch;
      margin-bottom: 8px;
      margin-top: 8px;
      width: 1px;
      box-sizing: border-box;
      @apply bg-black-300
    }
  }
}

.form-section {
  .form-group {

    input {
      ::placeholder {
        @apply text-txtSecondary dark:text-txtSecondary-dark;
      }
    }

    &:not(:last-child) {
      @apply mb-4
    }
  }
  .form-section-title {
    @apply text-sm mb-5 font-semibold
  }
  .form-section-subtitle {
    @apply text-xs mb-4
  }
}

.toggle-checkbox:checked {
  @apply right-0 border-teal bg-teal h-4 w-4;
  right: 0;
  .toggle-label{
    @apply bg-teal;
  }
}
