.kline-chart {
  @apply relative;
  .cheat-watermark {
    @apply absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    width: 10rem;
    opacity: 0.1;

    svg {
      width: 100%;
      height: auto;
    }
  }
}
