.label {
  height: 16px;
  width: auto;
  @apply text-xxs rounded inline-flex items-center justify-center font-semibold p-1;
  &.label-red {
    color: #fff;
    @apply bg-pink
  }
  &.label-warning {
    @apply text-black-700;
    background-color: #F1C617;
  }
  &.label-default {
    @apply text-black-600 bg-black-200;
  }
}
