.mal-modal____backward {
  @apply absolute top-0 left-0;

  z-index: -999;
  background-color: transparent;
  transition: background-color .3s ease;
}

.mal-modal__visible {
  @apply z-50;
  background-color: rgba(0, 0, 0, .45);
}

.mal-modal {
  @apply fixed bg-bgPrimary dark:bg-bgPrimary-dark;

  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;

  .mal-modal__wrapper {
    min-width: 282px;

    .mal-modal__title {
      @apply font-bold text-center text-txtPrimary dark:text-txtPrimary-dark mb-3;

      font-size: 16px;
    }
  }
}
