// Maldives 0.1 NavBar
@import '../helpers/contants';

.mal-navbar__wrapper__no__blur {
  @apply bg-bgPrimary dark:bg-bgPrimary-dark #{!important};

  .mal-navbar__link__spotlight {
    @apply text-txtPrimary dark:text-txtPrimary-dark #{!important};

    &:hover {
      @apply text-dominant #{!important};
    }
  }

  .mal-navbar__link__group___item {
    @apply h-full flex items-center text-txtPrimary dark:text-txtPrimary-dark #{!important};

    div svg path {
      @apply stroke-current #{!important};
    }

    &:hover {
      @apply text-dominant #{!important};
    }
  }

  .mal-navbar__link__group___item___childen__lv1 {
    @apply bg-bgPrimary dark:bg-darkBlue-2 border-l border-r border-b dark:border-divider-dark #{!important};
    box-shadow: 0 7px 23px rgba(0, 0, 0, 0.05) !important;
  }

  // Re-used simple dropdown
  .mal-navbar__with__dropdown {
    .mal-navbar__dropdown {
      .mal-navbar__dropdown__wrapper {
        @apply bg-bgContainer dark:bg-darkBlue-2 dark:shadow-none
        border-l border-r border-b dark:border-divider-dark #{!important};

        box-shadow: 0 7px 23px rgba(0, 0, 0, 0.05);
        border-color: transparent;

        .mal-navbar__dropdown___item {
          @apply text-txtPrimary dark:text-txtPrimary-dark text-right #{!important};

          &:hover {
            @apply bg-darkBlue-3;
          }
        }
      }
    }
  }

  .mal-navbar__user___avatar {
    .mal-navbar__dropdown {
      .mal-navbar__dropdown__user__info {
        .mal-navbar__dropdown__user__info__summary {
          .mal-navbar__dropdown__user__info__username {
            @apply text-txtPrimary dark:text-txtPrimary-dark #{!important};
          }
        }
      }
    }
  }
}

.mal-navbar__wrapper__use__dark {
  @apply bg-bgPrimary-dark #{!important};

  .mal-navbar__link__spotlight {
    @apply text-txtPrimary-dark #{!important};

    &:hover {
      @apply text-dominant #{!important};
    }
  }

  .mal-navbar__link__group___item {
    @apply h-full flex items-center text-txtPrimary-dark #{!important};

    div svg path {
      @apply stroke-current #{!important};
    }

    &:hover {
      @apply text-dominant #{!important};
    }
  }

  .mal-navbar__link__group___item___childen__lv1 {
    @apply bg-darkBlue-2 border-l border-r border-b border-divider-dark #{!important};
    box-shadow: 0 7px 23px rgba(0, 0, 0, 0.05) !important;
  }

  .mal-navbar__link__group___item___childen__lv1___item2 {
    &:hover {
      @apply bg-darkBlue-3 #{!important};
    }

    .mal-navbar__link__group___item___childen__lv1___item2___c {
      .mal-navbar__link__group___item___childen__lv1___item2___c__title {
        @apply text-txtPrimary-dark #{!important};
      }

      .mal-navbar__link__group___item___childen__lv1___item2___c__description {
        @apply text-txtSecondary-dark #{!important};
      }
    }
  }

  // Re-used simple dropdown
  .mal-navbar__with__dropdown {
    .mal-navbar__dropdown {
      .mal-navbar__dropdown__wrapper {
        @apply bg-darkBlue-2 shadow-none border-l border-r border-b border-divider-dark #{!important};

        .mal-navbar__dropdown___item {
          @apply text-txtPrimary-dark #{!important};

          &:hover {
            @apply bg-darkBlue-3 #{!important};
          }
        }
      }
    }
  }

  .mal-navbar__user___avatar {
    .mal-navbar__dropdown {
      .mal-navbar__dropdown__user__info {
        .mal-navbar__dropdown__user__info__summary {
          .mal-navbar__dropdown__user__info__username {
            @apply text-txtPrimary-dark #{!important};
          }
        }
      }
    }
  }
}

.mal-navbar__wrapper__use__light {
  @apply bg-bgPrimary #{!important};

  .mal-navbar__link__spotlight {
    @apply text-txtPrimary  #{!important};

    &:hover {
      @apply text-dominant #{!important};
    }
  }

  .mal-navbar__link__group___item {
    @apply h-full flex items-center text-txtPrimary #{!important};

    div svg path {
      @apply stroke-current #{!important};
    }

    &:hover {
      @apply text-dominant #{!important};
    }
  }

  .mal-navbar__link__group___item___childen__lv1 {
    @apply bg-bgPrimary #{!important};
    box-shadow: 0 7px 23px rgba(0, 0, 0, 0.05) !important;
    border: none;
  }

  .mal-navbar__link__group___item___childen__lv1___item2 {
    &:hover {
      @apply bg-teal-50 #{!important};
    }

    .mal-navbar__link__group___item___childen__lv1___item2___c {
      .mal-navbar__link__group___item___childen__lv1___item2___c__title {
        @apply text-txtPrimary #{!important};
      }

      .mal-navbar__link__group___item___childen__lv1___item2___c__description {
        @apply text-txtSecondary #{!important};
      }
    }
  }

  // Re-used simple dropdown
  .mal-navbar__with__dropdown {
    .mal-navbar__dropdown {
      .mal-navbar__dropdown__wrapper {
        @apply bg-bgContainer border-0 #{!important};

        .mal-navbar__dropdown___item {
          @apply text-txtPrimary #{!important};

          &:hover {
            @apply bg-teal-50 #{!important};
          }
        }
      }
    }
  }

  .mal-navbar__user___avatar {
    .mal-navbar__dropdown {
      .mal-navbar__dropdown__user__info {
        .mal-navbar__dropdown__user__info__summary {
          .mal-navbar__dropdown__user__info__username {
            @apply text-txtPrimary #{!important};
          }
        }
      }
    }
  }
}

//.mal-navbar__visible {
//  visibility: visible;
//  transform: none;
//}
//
//.mal-navbar__visible__blur {
//  background-color: rgba(21, 29, 47, 0.88) !important;
//}
//
//.mal-navbar__hidden {
//  visibility: hidden;
//  transform: translate(0, -100%);
//}

.mal-navbar__wrapper {
  @apply relative z-30 w-full flex flex-row items-center justify-between;
  @apply bg-headerBg;

  height: $MOBILE_NAV_HEIGHT;
  padding: 0 16px;
  transition: all 0.2s ease;
  //box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);

  @media (min-width: 992px) {
    height: $DESKTOP_NAV_HEIGHT;
    padding: 0 40px;
  }

  .mal-navbar__logo {
    width: 28px;
    min-width: 28px;
    height: auto;
    padding-top: 4px;
  }

  .mal-navbar__hamburger {
    @apply flex items-center h-full;

    .mal-navbar__hamburger__spacing {
      margin-left: 28px;
    }

    .mal-navbar__right_function___dropdown {
    }
  }

  .mal-navbar__user___wallet {
    @apply flex items-center cursor-pointer;
    font-size: 14px;

    span {
      @apply text-txtPrimary dark:text-txtPrimary-dark;
    }
  }

  .mal-navbar__user___avatar {
    @apply block relative cursor-pointer;

    max-width: 25px;
    max-height: 25px;
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    height: 100%;

    .mal-navbar__dropdown {
      left: unset !important;
      right: 0 !important;
      transform: translateX(25%) !important;

      // FOR USER CP
      .mal-navbar__dropdown__user__info {
        @apply flex items-center;

        padding-left: 16px;
        margin-bottom: 12px;

        .mal-navbar__dropdown__user__info__avt {
          min-width: 34px;
          min-height: 34px;
          width: 34px;
          height: 34px;

          img {
            @apply block;
            min-width: 100%;
            height: auto;
          }
        }

        .mal-navbar__dropdown__user__info__summary {
          margin-left: 12px;
          white-space: nowrap;
          font-weight: 500;
          font-size: 14px;

          .mal-navbar__dropdown__user__info__username {
            @apply w-full flex items-center;

            svg {
              margin-left: 4px;
            }
          }

          .mal-navbar__dropdown__user__info__level {
            @apply text-dominant;
          }
        }
      }

      .mal-navbar__dropdown___item:last-child {
        @apply text-red #{!important};
      }
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    &:hover {
      > div.user__svg svg path {
        stroke: #00c8bc;
      }
    }
  }

  .mal-navbar__link__group {
    @apply h-full flex flex-grow items-center;

    .mal-navbar__link__group___item {
      @apply flex items-center h-full text-sm font-medium text-txtPrimary-dark
      relative;

      cursor: pointer;
      margin-left: 28px;

      &:hover {
        @apply text-dominant;

        .mal-navbar__link__group___item___childen__lv1 {
          @apply block;
        }

        .mal-navbar__link__group___item___childen__lv1__w__icon {
          @apply flex #{!important};
        }

        .chevron__down {
          transform: rotate(180deg);

          path {
            stroke: #00c8bc !important;
          }
        }
      }

      @media (min-width: 1440px) {
        @apply ml-10;
      }
    }

    .mal-navbar__link__group___item___childen__lv1__w__icon {
      @apply flex-wrap #{!important};

      width: auto;
      min-width: 700px;
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
      padding: 22px 32px !important;

      .mal-navbar__link__group___item___childen__lv1___item2:nth-child(odd) {
        padding-right: 24px;
      }

      .mal-navbar__link__group___item___childen__lv1___item2 {
        @apply w-1/2 flex items-start;

        white-space: nowrap;
        padding: 16px;
        border-radius: 6px;

        &:hover {
          @apply bg-teal-50 dark:bg-darkBlue-3;
        }

        .mal-navbar__link__group___item___childen__lv1___item2__icon {
          min-width: 32px;
          min-height: 32px;

          @media (min-width: 2560px) {
            min-width: 38px;
            min-height: 38px;
          }
        }
        .mal-navbar__link__group___item___childen__lv1___item2___c {
          padding-left: 12px;

          .mal-navbar__link__group___item___childen__lv1___item2___c__title {
            @apply text-txtPrimary dark:text-txtPrimary-dark;
            font-weight: 600;

            @media (min-width: 2560px) {
              font-size: 16px;
            }
          }

          .mal-navbar__link__group___item___childen__lv1___item2___c__description {
            @apply text-gray-1;

            padding-top: 4px;
            white-space: normal;
            font-weight: 500;
            font-size: 12px;

            @media (min-width: 2560px) {
              font-size: 14px;
            }
          }
        }
      }
    }

    .mal-navbar__link__group___item___childen__lv1 {
      @apply absolute hidden left-0 z-50 bg-bgPrimary dark:bg-darkBlue-2
      border-l border-r border-b dark:border-divider-dark;

      top: 100%;
      //margin-top: 1px;
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
      overflow: hidden;
      transition: max-height 0.3s ease;
      padding-right: 16px;
      padding-left: 16px;
      border-color: transparent;
    }

    .mal-navbar__link__group___item___childen__lv1___item {
      @apply flex items-center text-sm font-medium text-txtPrimary dark:text-txtPrimary-dark;

      padding: 8px 8px;
      border-radius: 6px;
      word-break: normal;
      min-width: 100px;
      white-space: nowrap;

      &:first-child {
        margin-top: 16px;
      }

      &:last-child {
        margin-bottom: 16px;
      }

      &:hover {
        @apply bg-listItemSelected dark:bg-darkBlue-4;
      }
    }

    .mal-navbar__link__spotlight {
      @apply text-sm font-medium text-txtPrimary-dark ml-8 pl-8 border-l border-divider-dark;

      &:hover {
        @apply text-dominant;
      }
    }
  }

  .mal-link {
    font-size: 14px;
    font-weight: 500;

    &:hover {
      text-decoration: underline !important;
    }
  }

  .mal-dot__newest {
    @apply bg-dominant;

    margin-top: 2px;
    margin-left: 8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }

  .mal-navbar__svg_dominant {
    &:hover {
      @apply text-dominant #{!important};

      a,
      span {
        @apply text-dominant #{!important};
      }

      svg path {
        stroke: #00c8bc;
      }
    }
  }

  // Re-used simple dropdown
  .mal-navbar__with__dropdown {
    @apply relative;

    &:hover {
      .chevron__down {
        transform: rotate(180deg);

        path {
          stroke: #00c8bc;
        }
      }
    }

    &:hover {
      .mal-navbar__dropdown {
        @apply block;
      }
    }

    // DROP DOWN
    .mal-navbar__dropdown {
      @apply absolute hidden;

      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      min-width: 130px;
      padding-top: 25px;

      .mal-navbar__dropdown__wrapper {
        @apply bg-bgContainer dark:bg-darkBlue-2 dark:shadow-none
        border-l border-r border-b dark:border-divider-dark;

        border-color: transparent;
        padding: 16px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        box-shadow: 0 7px 23px rgba(0, 0, 0, 0.05);
        //min-width: 200px;

        .mal-navbar__dropdown___item {
          @apply flex items-center text-txtPrimary dark:text-txtPrimary-dark text-right;

          white-space: nowrap;
          min-width: 160px;
          padding: 6px 16px;
          border-radius: 6px;
          font-size: 14px;
          font-weight: 500;

          a,
          span {
            @apply text-txtPrimary dark:text-txtPrimary-dark #{!important};
          }

          svg {
            margin-right: 12px;
          }

          &:hover {
            @apply bg-teal-50 dark:bg-darkBlue-3;
          }
        }
      }
    }
  }
}

.mal-pocket-navbar__drawer {
  @apply absolute top-0 right-0 bg-bgPrimary dark:bg-bgPrimary-dark;

  width: 100%;
  max-width: 375px;
  height: 100%;
  transition: all 0.1s ease;
  transform: translateX(100%);
  padding-top: 13px;
  padding-bottom: 76px;
  overflow-y: scroll;
  user-select: none;
  z-index: 9999999999;

  .mal-pocket-navbar__drawer__content___wrapper {
    .user__button {
      padding-left: 16px;
      padding-right: 16px;
      margin-top: 20px;

      div {
        width: calc(97% / 2);
      }
    }
  }

  .mal-pocket-navbar__drawer__navlink__group {
    @apply border-b border-divider dark:border-divider-dark my-3;
  }

  .mal-pocket-navbar__drawer__navlink__group___item {
    @apply flex flex-row flex-wrap items-center justify-between text-sm;

    font-weight: 600;
    padding: 16px;
    cursor: pointer;
  }

  .mal-pocket-navbar__drawer__navlink__group___item__lv1 {
    @apply w-full;

    overflow: hidden;
    transition: all 0.3s ease 0s;
    max-height: 0;
    min-width: 0;

    .mal-pocket-navbar__drawer__navlink__group___item__lv1__item {
      @apply block flex flex-row items-center;

      padding: 16px;
    }
  }

  .mal-pocket-navbar__drawer__navlink__group___item__lv1__active {
    max-height: 40em;
  }

  .mal-pocket-nabar__item___hover {
    &:hover {
      @apply bg-listItemSelected dark:bg-listItemSelected-dark;

      span {
        @apply text-dominant;
      }
    }
  }
  //@media (min-width: 992px) {
  //  max-width: 375px;
  //}
}

.mal-pocket-navbar__drawer__active {
  transform: translateX(0);
}

.navbar {
  .navbar-item {
    @apply text-sm leading-6 font-semibold text-black-700 hover:text-teal px-4;
    // letter-spacing: -0.01em;
    &.active {
      @apply text-teal-700;
    }
  }

  .navbar-item-link {
    @apply py-2 px-2 flex items-start hover:bg-teal-5;
    &.disabled {
      > * {
        @apply text-black-400 hover:text-black-400 cursor-not-allowed;
      }
    }
  }
}
