.tabs {
  @apply border-b-2 border-divider dark:border-divider-dark;

  display: flex;
  flex-wrap: wrap;
  list-style: none;
  .tab-item {
    margin: 0 0 -2px 0;
    &.active {
      @apply border-b-2 border-teal;
    }
    .tab-link {
      transition: color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease,-webkit-box-shadow .15s ease;
      padding: .5rem 0;
      margin: 0 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      @apply text-sm font-medium;
      &.active {
        @apply text-txtPrimary dark:text-txtPrimary-dark
      }
    }
  }
}
