.ats-earning {
    .slick-track {
        // max-height: 420px;
        margin-left: 0;
    }
    // .slick-slider {
    //     height: 430px;
    // }
    .slick-slide {
        padding: 0 20px;
        box-sizing: border-box;
    }
    .slick-list {
        margin: 0 -20px;
        overflow: hidden;
        padding-bottom: 60px;
    }
    .slick-dots button:before {
        opacity: 1;
        color: #E1E2ED;
        font-size: 10px;
    }
    .slick-dots li.slick-active button:before {
        opacity: 1;
        color: #02083D;
        // font-size: 10px;
    }
    .regular.slider {
        & > div {
            margin-bottom: 40px;
        }
    }
}
