// Code: Maldives M1
// Version: 0.1

.landing_page___screen_present {
  @apply bg-white pt-8;

  margin-top: -38%;
  padding-bottom: 60px;

  img {
    filter: drop-shadow(15px 25px 30px rgba(0, 0, 0, 0.2));
  }


  // Present Screen Mobile
  .landing_page___mb_screen_present__top {
    @apply relative w-full flex flex-row;

    max-height: 290px;

    .landing_page___mb_screen_present__top__left {
      img {
        min-width: 65px;
        height: auto;
      }
    }

    .landing_page___mb_screen_present__top__right {
      @apply flex flex-col justify-between;

      margin-left: 38px;
      padding-right: 16px;
    }

    @media (min-width: 400px) {
      max-height: 320px;
    }

    @media (min-width: 435px) {
      max-height: 380px;
    }

    @media (min-width: 510px) {
      max-height: 440px;
    }

    @media (min-width: 576px) {
      max-height: 500px;
    }

    @media (min-width: 645px) {
      max-height: 560px;
    }

    @media (min-width: 715px) {
      max-height: 620px;

      .landing_page___mb_screen_present__top__left {
        img {
          max-height: 100%;
          width: auto;
        }
      }

      .landing_page___mb_screen_present__top__right {
        img {
          max-height: 45%;
          width: auto;
          //min-height: 300px;
        }
      }
    }
  }

  .landing_page___mb_screen_present__bott {
    @apply flex flex-row;

    margin-top: 40px;

    div:nth-child(2) {
      margin-left: 38px;
      margin-right: 38px;
    }
  }

  .landing_page___mb_screen_present__nami {
    margin-top: 60px;

    img {
      @apply m-auto;
      width: 174px;
    }

    .landing_page___mb_screen_present__title {
      @apply text-center;

      font-weight: 600;
      font-size: 30px;
      line-height: 40px;
      margin-top: 24px;
      white-space: nowrap;
    }

    .landing_page___mb_screen_present__description {
      @apply text-center;

      margin-top: 24px;
      font-weight: 500;
      font-size: 12px;
      line-height: 24px;
    }

    @media (min-width: 375px) {
      .landing_page___mb_screen_present__title {
        font-size: 40px;
        line-height: 50px;
      }
      .landing_page___mb_screen_present__description {
        font-size: 14px;
      }
    }

    @media (min-width: 700px) {
      margin-top: 100px;

      img {
        width: 200px;
      }

      .landing_page___mb_screen_present__description {
        font-size: 16px;
      }
    }
  }

  .landing_page___mb_screen_present__button___group {
    @apply flex flex-row items-center justify-between;

    margin-top: 32px;
    height: 36px;
    padding-right: 16px;
    padding-left: 16px;

    .landing_page___mb_screen_present___download__item {
      @apply block h-full cursor-pointer;

      img {
        height: 100%;
        width: auto;
      }
    }

    @media (min-width: 375px) {
      height: 44px;
    }

    @media (min-width: 414px) {
      @apply justify-center;

      .landing_page___mb_screen_present___download__item {
        margin-left: 16px;
      }

      a:first-child {
        margin-left: 0;
      }
    }

    @media (min-width: 700px) {
      margin-top: 52px;
    }
  }

  // Present Screen Desktop
  .landing_page__screen_present {
    @apply flex flex-row;

    margin-bottom: 133px;

    .landing_page__screen_present__left {
      margin-left: -20px;

      img {
        margin-top: 27px;
      }
    }

    .landing_page__screen_present__center {
      @apply flex flex-row flex-grow flex-wrap h-1/2;

      padding-left: 20px; // ***
      padding-right: 20px; // ***

      .landing_page__screen_present__center__left {
        @apply flex flex-col justify-between w-1/2;
        padding-right: 20px; // ***

        img:last-child {
          //margin-top: 32px;
          //transform: translateY(21.9%);
        }
      }

      .landing_page__screen_present__center__right {
        @apply flex flex-row items-start w-1/2;

        img:first-child {
          margin-right: 16px;
        }

        img {
          width: 48%;
        }
      }

      .landing_page__screen_present__center__bott {
        @apply w-full;

        margin-top: 63px;

        img {
          @apply m-auto;
          width: 120px;
          height: auto;

          @media (min-width: 1366px) {
            width: 180px;
          }

          @media (min-width: 1440px) {
            width: 194px;
          }
        }

        .landing_page___screen_present__title {
          @apply text-center;

          margin-top: 22px;
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;

          @media (min-width: 1200px) {
            font-size: 30px;
            line-height: 40px;
          }

          @media (min-width: 1366px) {
            font-size: 48px;
            line-height: 60px;
          }
        }

        .landing_page___screen_present__description {
          @apply text-center;

          font-weight: 500;
          font-size: 14px;
          line-height: 28px;
          margin-top: 20px;

          @media (min-width: 1200px) {
            font-size: 16px;
          }

          @media (min-width: 1366px) {
            font-size: 18px;
          }
        }

        @media (min-width: 1200px) {
          margin-top: 73px;
        }

        @media (min-width: 1440px) {
          margin-top: 93px;
        }
      }
    }

    .landing_page__screen_present__right {
      margin-right: -20px;

      img {
        margin-top: 27px;
      }
    }

    @media (min-width: 992px) {

      .landing_page__screen_present__left,
      .landing_page__screen_present__right {

        img {
          margin-top: 37px;
        }
      }

      .landing_page__screen_present__center {

        .landing_page__screen_present__center__left {
          img:last-child {
            //transform: translateY(21%);
          }
        }
      }
    }

    @media (min-width: 1200px) {
      .landing_page__screen_present__center {
        padding-left: 38px;
        padding-right: 38px;

        .landing_page__screen_present__center__left {
          padding-right: 30px;

          img:last-child {
            //transform: translateY(22%);
          }
        }

        .landing_page__screen_present__center__right {

          img:first-child {
            margin-right: 20px;
          }
        }
      }
    }

    @media (min-width: 1366px) {

      .landing_page__screen_present__left {
        margin-left: 0;
      }
      .landing_page__screen_present__right {
        margin-right: 0;
      }

      .landing_page__screen_present__left,
      .landing_page__screen_present__right {

        img {
          margin-top: 47px;
        }
      }
    }
  }

  @media (min-height: 720px) {
    margin-top: 0;
  }


  @media (min-width: 768px) {
    @apply mt-0;
  }
}

.landing_page___exp_compare {
  //@apply dark:bg-darkBlue-2;

  background-color: #F8F9FA;
  padding: 60px 0;
  margin-top: -1px;

  .landing_page___exp_compare__wrapper {
    @apply flex flex-col;

    padding-left: 16px;
    padding-right: 16px;
    height: 100%;

    .landing_page___exp_compare__left,
    .landing_page___exp_compare__right {
      @apply w-full;
    }

    .landing_page___exp_compare__left {

    }

    .landing_page___exp_compare__right {

    }

    .landing_page___exp_compare__item {
      @apply bg-white h-full;

      padding: 30px 20px 0;
      border-radius: 20px;

      .landing_page___exp_compare__item___reason__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;

        background: -webkit-linear-gradient(#00DCC2, #00B6C7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .landing_page___exp_compare__item___reason__item {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        margin-top: 12px;
        margin-bottom: 28px;

        span {
          @apply mr-2;
        }

        @media (min-width: 992px) {
          font-size: 16px;
        }
      }

      img {
        @apply m-auto;
        width: 200px;
        height: auto;
      }
    }

    @media (min-width: 768px) {
      @apply flex-row;

      .landing_page___exp_compare__left,
      .landing_page___exp_compare__right {
        @apply w-1/2;
      }

      .landing_page___exp_compare__left {
        align-items: stretch;
      }

      .landing_page___exp_compare__item {
        @apply flex flex-col justify-between;
        background-color: transparent;

        img {
          margin: 0 auto;
          width: 275px;
        }
      }
    }
  }

  @media (min-width: 768px) {
    background-color: transparent;
  }
}

.landing_page___theming {
  //@apply dark:bg-darkBlue-2;

  background-color: #F8F9FA;

  .landing_page___theming__wrapper {
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;

    .landing_page___theming__item {

      .landing_page___theming__item__content {

        .landing_page___theming__item__title {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          background: -webkit-linear-gradient(#00DCC2, #00B6C7);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          @media (min-width: 1200px) {
            padding-left: 20px;
          }
        }

        .landing_page___theming__item__description {
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          margin: 8px 0 25px;

          @media (min-width: 1200px) {
            padding: 0 20px;
          }
        }
      }

      img {
        margin: auto;
      }
    }

    @media (min-width: 992px) {
      .landing_page___theming__item__description {
        font-size: 16px !important;
      }
    }

    @media (min-width: 1200px) {
      @apply flex flex-row;
      margin-top: 73px;

      .landing_page___theming__left,
      .landing_page___theming__right {

        .landing_page___theming__item {
          @apply flex flex-row h-full;

          img {
            margin: unset;
          }
        }

      }

    }
  }

  @media (min-width: 1200px) {
    background-color: transparent;
  }
}

.landing_page___attractive_features {
  background-color: #F8F9FA;
  padding-top: 60px;

  .landing_page___attractive_features__wrapper {
    padding-right: 16px;
    padding-left: 16px;

    .landing_page___card {
      padding-bottom: 40px;
    }

    .landing_page___attractive_features__content__left {

      .landing_page___card {
        //@apply bg-white dark:bg-darkBlue-1;
      }

      .landing_page___attractive_features__content__left__description {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }

      img {
        @apply m-auto;

        margin-top: 24px;
        width: 150px;
        height: auto;
      }

      @media (min-width: 992px) {
        img {
          margin-top: 48px;
        }
      }

      @media (min-width: 1366px) {
        img {
          width: 200px;
        }
      }
    }

    .landing_page___attractive_features__content__right {

      //.function__wrapper:nth-child(2) {
      //  @apply justify-center #{!important};
      //
      //
      //  .function__item:first-child {
      //    margin-right: 40px;
      //  }
      //}

      .function__wrapper {
        @apply flex flex-row justify-center;

        margin-bottom: 28px;

        .function__item:last-child {
          margin-right: 0;
        }

        .function__item {
          @apply flex flex-col items-center justify-center;

          margin-right: 24px;

          .function__item__icon {
            min-width: 60px;
            min-height: 60px;
            width: 60px;
            height: 60px;

            img {
              width: 100%;
              height: 100%;
            }

            @media (min-width: 375px) {
              min-width: 68px;
              min-height: 68px;
              width: 68px;
              height: 68px;
            }
          }

          .function__item__label {
            font-weight: 600;
            font-size: 14px;
            margin-top: 4px;
          }
        }

        @media (min-width: 768px) {
          @apply justify-around;
        }
      }

      .function__wrapper:nth-child(3) {
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: 992px) {
    background-color: transparent;
    padding-top: 78px;
  }

  @media (min-width: 1366px) {
    .landing_page___attractive_features__content {
      @apply flex flex-row items-center;

      .landing_page___attractive_features__content__left {
        @apply w-2/5;
      }

      .landing_page___attractive_features__content__right {
        @apply w-3/5;
      }
    }
  }
}

.landing_page___portfolio {
  background-color: #F8F9FA;

  .landing_page___portfolio__wrapper {
    @apply flex flex-col;

    padding-right: 16px;
    padding-left: 16px;

    .landing_page___card {
      overflow: hidden;
    }

    .landing_page___portfolio__left {

      .mal-title__gradient {
        text-transform: uppercase;
        font-size: 18px;
        line-height: 24px;
      }

      .landing_page___portfolio__left___content {
        font-size: 14px;
        margin-top: 14px;

        .landing_page___portfolio__left___content__title {
          font-weight: 600;
        }

        .landing_page___portfolio__left___content__items {
          @apply mt-1;

          font-weight: 500;

          div {
            @apply flex;

            span {
              @apply mr-2;
            }
          }
        }
      }

      @media (min-width: 375px) {
        .mal-title__gradient {
          font-size: 20px;
        }

        .landing_page___portfolio__left___content {
          font-size: 16px;
        }
      }

      @media (min-width: 992px) {
        .mal-title__gradient {
          font-size: 16px;
          white-space: nowrap;
        }

        .landing_page___portfolio__left___content {
          line-height: 28px;

          .landing_page___portfolio__left___content__title {
            font-size: 24px;
            white-space: nowrap;
          }

          .landing_page___portfolio__left___content__items {
            margin-top: 18px;
            font-size: 14px;
          }
        }
      }

      @media (min-width: 1366px) {
        .mal-title__gradient {
          font-size: 18px;
        }

        .landing_page___portfolio__left___content {
          line-height: 40px;

          .landing_page___portfolio__left___content__title {
            font-size: 30px;
          }

          .landing_page___portfolio__left___content__items {
            margin-top: 8px;
            font-size: 18px;
          }
        }
      }
    }

    .landing_page___portfolio__right {
      margin-top: 20px;

      img {
        min-width: 350px;
        height: auto;
      }

      @media (min-width: 768px) {
        @apply flex justify-center;

        margin-top: 32px;

        img {
          width: 420px;
        }
      }

      @media (min-width: 1200px) {
        img {
          min-width: 500px;
        }
      }

      @media (min-width: 1366px) {
        img {
          min-width: 600px;
        }
      }
    }

    @media (min-width: 768px) {

    }

    @media (min-width: 992px) {
      background-color: transparent;
      margin-top: 68px;

      .landing_page___card {
        @apply flex flex-row justify-between;

        .landing_page___portfolio__right {
          @apply mt-0;
        }
      }
    }
  }

  @media (min-width: 992px) {
    background-color: transparent;
  }
}

.landing_page___spot_futures {
  background-color: #F8F9FA;
  padding-top: 60px;
  margin-top: -1px;

  .mal-title__gradient {
    @apply w-full;
    white-space: nowrap;
  }

  .landing_page___spot_futures__content_wrapper {
    @apply flex flex-col;

    padding-right: 16px;
    padding-left: 16px;

    .landing_page___card:last-child {
      padding-bottom: 0;

      img {
        margin: 50px auto 0;
        max-width: 280px;
      }
    }

    .landing_page___spot_futures__left {
      .mal-title__gradient {
        text-transform: uppercase;

        @media (min-width: 768px) {
          font-size: 18px;
        }
      }

      img {
        max-width: 240px;
        height: auto;
        margin: auto;
      }
    }

    .landing_page___spot_futures__right {

    }

    .landing_page___spot_futures__description {
      margin-top: 12px;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 24px;

      @media (min-width: 992px) {
        font-size: 16px;
      }
    }

    @media (min-width: 992px) {
      @apply flex-row items-stretch;

      margin-top: 68px;

      .landing_page___spot_futures__left {
        @apply w-2/5;

        img {
           max-width: 100%;
        }
      }

      .landing_page___spot_futures__right {
        @apply w-3/5 flex flex-row items-center;
        margin-left: 20px;
        overflow: hidden;

        div:first-child {
          @apply w-1/2 pr-6;

          div {
            @apply w-full;
          }
        }

        > div:last-child {
          @apply w-1/2 h-full flex items-end;

          img {
            //margin: 50px 0 0 0 !important;
            margin: unset !important;
            min-width: 280px;
            max-width: 328px;
          }
        }
      }
    }

    @media (min-width: 1366px) {
      .landing_page___card:first-child {
        padding: 42px 46px 34px;
      }
      .landing_page___card:last-child {
        padding: 0 66px;
      }

      .landing_page___spot_futures__left {
        @apply w-1/3;
      }
      .landing_page___spot_futures__right {
        @apply w-2/3;
        padding-top: 50px !important;

        img {
          min-width: 345px;
        }
      }
    }

  }

  .landing_page___spot_futures__content_wrapper:last-child {
    margin-top: 20px;

    .landing_page___card:last-child {
      border-bottom-right-radius: unset !important;
      border-bottom-left-radius: unset !important;
    }

    .landing_page___spot_futures__right {
      overflow: hidden;

      > div:last-child {
        @apply flex justify-center;

        img {
          margin: unset !important;
          max-width: 500px;
          height: auto;
          margin-left: 20px !important;
        }
      }
    }

    @media (min-width: 992px) {
      @apply flex-row-reverse;

      .landing_page___card:last-child {
        border-bottom-right-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
      }

      .landing_page___spot_futures__left {
        margin-left: 20px;
      }

      .landing_page___spot_futures__right {
        @apply ml-0 flex-col;

        .landing_page___spot_futures__description {
          @apply pr-0;
        }

        > div:first-child {
          @apply w-full;

          div {
            padding-right: 0;
          }
        }

        > div:last-child {
          @apply w-full;

          img {
            max-width: 640px;
          }
        }
      }
    }

    @media (min-width: 1366px) {
      .landing_page___spot_futures__right {
        padding-top: 40px;
      }
    }
  }

  @media (min-width: 992px) {
    background-color: transparent;

    .landing_page___card {
      @apply bg-white;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.04);
    }
  }
}

.landing_page___payment_kyc {
  background-color: #F8F9FA;
  margin-top: -1px;

  .landing_page___payment_kyc___wrapper {
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 66px;

    .landing_page___card {
      padding-bottom: 0 !important;
      filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.04));
      background-color: #FFF !important;

      @media (min-width: 1200px) {
        //background-color: transparent !important;
      }
    }

    .landing_page___payment_kyc___item:nth-child(2) {
      background: linear-gradient(168.27deg, rgba(0, 220, 194, 0.9) 21.4%, #00B6C7 93.37%) !important;

      .mal-title__gradient {
        color: #fff !important;
        -webkit-background-clip: unset !important;
        -webkit-text-fill-color: unset !important;
        background: unset;
      }

      .landing_page___payment_kyc___item__with__bubble {
        @apply flex flex-col justify-center w-full;
        padding: 28px 0 47px;
        margin: auto;

        @media (min-width: 480px) {
          @apply w-1/2;
        }

        @media (min-width: 1200px) {
          @apply w-full;
        }

        @media (min-width: 992px) {
          padding: 31px 0 72px;
        }
      }
    }

    .landing_page___payment_kyc___item {
      @apply flex flex-col justify-between;

      margin-right: 12px;

      .mal-title__gradient {
        text-transform: uppercase;
        font-size: 20px;
      }

      .landing_page___payment_kyc___item__description {
        margin: 14px 0 28px;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
      }

      .landing_page___payment_kyc___item__img {
        @apply w-full;

        img {
          @apply m-auto;
          max-width: 200px;
        }
      }
    }

    .landing_page___payment_kyc___item:last-child {
      margin-right: 0;
    }

    //@media (min-width: 1280px) {
    //  @apply flex items-stretch justify-center;
    //  margin-top: 30px;
    //
    //  .landing_page___payment_kyc___item {
    //    margin-right: 20px;
    //    width: calc(100% / 3);
    //  }
    //}

    @media (min-width: 1200px) {
      @apply flex items-stretch justify-center;
      margin-top: 30px;

      .landing_page___payment_kyc___item {
        @apply bg-white;

            margin-right: 20px;
            width: calc(100% / 3);

        padding: 40px 38px 0;

        .mal-title__gradient {
          font-size: 18px;
        }

        .landing_page___payment_kyc___item__description {
          font-size: 16px;
        }

        .landing_page___payment_kyc___item__img img {
          //max-width: 237px;
        }
      }
    }

    @media (min-width: 1366px) {
      .landing_page___payment_kyc___item {
        padding: 50px 48px 0;

        .landing_page___payment_kyc___item__img img {
          max-width: 247px;
        }
      }
    }
  }

  @media (min-width: 768px) {
    background-color: transparent;
  }

  @media (min-width: 1366px) {
    padding-top: 100px;
  }
}

.landing_page___more {
  @apply bg-white;
  margin-top: -1px;
  padding: 60px 0;

  .mal-title__gradient {
    @apply text-center uppercase;
    letter-spacing: 0.2em;
    padding: 0 16px;
  }

  .landing_page___more___subtitle {
    @apply text-gray-2 text-center uppercase mt-3;
    font-weight: 600;
    letter-spacing: 0.1em;
  }

  .landing_page___more___wrapper {
    padding-top: 40px;
    padding-left: 16px;
    padding-right: 16px;

    img:last-child {
      margin-top: -38px;
    }
  }

  @media (min-width: 768px) {
    .landing_page___more___wrapper {
      margin-top: 78px;
    }
  }

  @media (min-width: 1200px) {
    .landing_page___more___wrapper {
      @apply flex flex-row;

      img {
        @apply w-1/2;
        height: auto;
      }

      img:last-child {
        margin-top: 0;
      }
    }
  }

  @media (min-width: 1440px) {
    .landing_page___more___wrapper {
      img {
        //max-width: 557px;
      }
    }
  }


  @media (min-width: 2560px) {
    .landing_page___more___wrapper {
      img {
        //max-width: 557px;
      }
    }
  }
}

.landing_page___screen_presentation { // Desktop Screen Present
  @apply flex flex-row items-stretch justify-center;

  .landing_page___screen_presentation__item__horizontal {

  }

  .landing_page___screen_presentation__item__vertical {

  }

  .landing_page___screen_presentation____left,
  .landing_page___screen_presentation____right {
    @apply w-1/6 flex flex-row justify-between;
  }


  .landing_page___screen_presentation____center {
    @apply w-4/6;
    > div:first-child {
      @apply flex;
    }
  }

  .landing_page___screen_presentation____right {
    > div:last-child > div:first-child {
      @apply flex;
    }
  }

  .landing_page___screen_presentation___product_intro {
    @apply flex flex-col items-center justify-center;

    .nami_maldives__slogan {
      @apply text-center;

      margin-top: 32px;
      font-weight: 600;
      font-size: 60px;
      line-height: 70px;
    }

    .nami_maldives__description {
      @apply text-center;

      margin-top: 18px;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
    }

    .nami_maldives__download_app {
      @apply flex flex-row items-center;

      margin-top: 34px;
      height: 44px;

      .nami_maldives__download_app__item {
        @apply block h-full;
        margin-right: 16px;

        img {
          height: 100%;
          width: auto;
        }
      }

      .nami_maldives__download_app__item:last-child {
        margin-right: 0;
      }
    }
  }

  .landing_page___screen_presentation____left {
    > div:first-child {
      @apply hidden flex-col justify-between;
    }

    > div:last-child {
      @apply flex flex-col justify-between;
    }

    > div:first-child > div:nth-child(2) {
      margin: 28px 0 30px;
    }

    > div:last-child > div:first-child {

    }
  }

  .landing_page___screen_presentation____right {

    > div:first-child {
      @apply flex flex-col justify-between;

      > div:first-child {

      }
    }

    > div:first-child > div:last-child {

    }

    > div:last-child {
      @apply hidden flex-col justify-between;
    }
  }

  .landing_page___screen_presentation___product_intro {

    img.nami_maldives__logo {
      width: 164px;
      height: auto;
    }

    .nami_maldives__slogan {
      font-size: 38px;
      line-height: 45px;
      margin-top: 14px;
    }

    .nami_maldives__description {
      font-size: 16px;
      margin-top: 10px;
    }

    .nami_maldives__download_app {
      height: 36px;
      margin-top: 28px;
    }
  }

  @media (min-width: 992px) {
    margin-bottom: 78px;

    .landing_page___screen_presentation____left,
    .landing_page___screen_presentation____right {
      transform: scale(1.1);

      img {
        //min-width: 300px;
      }
    }

    .landing_page___screen_presentation____center {
      transform: scale(1.1);
    }

    .landing_page___screen_presentation____left {
      transform: translate(-30%, 5%);
    }

    .landing_page___screen_presentation____right {
      transform: translate(42%, 5%);
    }

    .landing_page___screen_presentation___product_intro {
      margin-top: 20px;

      img.nami_maldives__logo {
        width: 114px;
      }

      .nami_maldives__slogan {
        font-size: 24px;
        line-height: 30px;
        margin-top: 10px;
      }

      .nami_maldives__description {
        font-size: 14px;
        margin-top: 10px;
        line-height: 24px;
      }

      .nami_maldives__download_app {
        height: 28px;
        margin-top: 18px;
      }
    }
  }

  @media (min-width: 1280px) {
    .landing_page___screen_presentation___product_intro {
      margin-top: 20px;

      .nami_maldives__slogan {
        margin-top: 18px;
      }

    }
  }

  @media (min-width: 1440px) {
    margin-bottom: 124px;

    .landing_page___screen_presentation___product_intro {
      margin-top: 40px;

      img.nami_maldives__logo {
        width: 134px;
      }

      .nami_maldives__slogan {
        font-size: 28px;
        line-height: 38px;
        margin-top: 18px;
      }

      .nami_maldives__description {
        margin-top: 20px;
        font-size: 16px;
      }

      .nami_maldives__download_app {
        height: 34px;
        margin-top: 32px;
      }
    }
  }

  @media (min-width: 1600px) {
    .landing_page___screen_presentation___product_intro {
      margin-top: 40px;

      img.nami_maldives__logo {
        width: 154px;
      }

      .nami_maldives__slogan {
        font-size: 34px;
        line-height: 48px;
      }

      .nami_maldives__description {
        font-size: 18px;
        line-height: 28px;
      }

      .nami_maldives__download_app {
        height: 44px;
      }
    }
  }

  @media (min-width: 1880px) {
    margin-bottom: 164px;

    .landing_page___screen_presentation____left,
    .landing_page___screen_presentation____right {
      @apply w-2/6;

      transform: unset;
    }

    .landing_page___screen_presentation____center {
      //@apply w-4/6;
      width: 52%;
      transform: unset;
    }


    .landing_page___screen_presentation____left {

      > div:first-child {
        @apply flex;

        > div:nth-child(2) {
          margin: 28px 0 30px;
        }
      }

      > div:last-child > div:first-child {
        margin-top: 78px;
      }
    }

    .landing_page___screen_presentation____right {

      > div:first-child > div:first-child {
        margin-top: 78px;
      }

      > div:last-child {
        @apply flex;
      }
    }

  }

  @media (min-width: 2560px) {
    .landing_page___screen_presentation___product_intro {
      margin-top: 118px;

      img.nami_maldives__logo {
        width: 194px;
      }

      .nami_maldives__slogan {
        font-size: 50px;
        line-height: 60px;
        margin-top: 38px;
      }

      .nami_maldives__description {
        line-height: 32px;
      }

      .nami_maldives__download_app {
        height: 44px;
      }
    }
  }
}

.landing_page__wallet {
  @media (min-width: 1366px) {
    padding-top: 130px !important;
  }
}

// Re-used class
.landing_page___section_title {

  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 24px;

  @media (min-width: 375px) {
    font-size: 25px;
    line-height: 36px;
  }

  @media (min-width: 992px) {
    font-size: 36px;
    line-height: 40px;
  }
}

.landing_page___card {
  @apply bg-white;

  padding: 30px 20px;
  border-radius: 20px;

  @media (min-width: 992px) {
    background-color: transparent;
  }
}

