.bg-verification-left {
  background: rgba(167, 210, 254, 0.25);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.bg-verification-right {
  background: #ffffff;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
