.swap-form-group {
  @apply focus:ring-0 focus:border-teal block w-full text-sm border-divider dark:border-divider-dark rounded-xl text-black-700 placeholder-black-400 border px-4 py-3;

  label {
    @apply mb-2 text-xs block
  }
  input {
    @apply focus-visible:ring-0 focus-visible:outline-none
  }

  .swap-form-control {
    @apply focus:ring-0 block w-full font-bold text-black-700 placeholder-black-500 py-3 bg-transparent text-txtPrimary dark:text-txtPrimary-dark;
    line-height: 1.315rem;
    letter-spacing: -0.01em;
    height: 44px;
    &.form-control-sm {
      height: 36px;
      @apply pl-7 pr-12  py-1.5;
    }
    &.form-control-lg {
    }
    &.form-control-solid {
      @apply bg-black-50
    }
    &.is-error {
      @apply border-red
    }
  }

  .swap-input-group{
    @apply flex justify-between
  }
}
