@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'theme';
@import 'theme.tailwind';

html,
body {
    @apply w-full h-full;
    scroll-behavior: smooth;
    /* Disable web page navigation on swipe(back and forward) */
    /* overscroll-behavior-x: none; */
    @apply text-base;
    @apply text-txtPrimary;

    @apply lg:text-base;
    @apply md:text-base;

    @apply bg-bgPrimary dark:bg-bgPrimary-dark;

    font-family: 'Barlow', sans-serif !important;

    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent !important;

    a:hover,
    a:active,
    a:focus {
        text-decoration: none !important;
        outline: none !important;
    }

    img {
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
    }

    input {
        @apply outline-none bg-transparent placeholder-txtSecondary dark:placeholder-txtSecondary-dark truncate;

        ::placeholder {
            font-weight: 400 !important;
        }
    }

    input[type='checkbox'] {
        outline: 0;
    }
}
