html, body {
    font-family: 'Inter', Arial, sans-serif;
    background: #1B222D !important;
}

html.theme-dark .chart-page {
    background-color: #1B222D !important;
}

._tv-dialog {
    width: 100% !important;
    min-width: auto !important;
}

html ._tv-dialog-content {
}

html ._tv-dialog-content .main-properties {
    max-height: calc(100vh - 180px);
    max-width: 100vw;
    overflow: auto;
}

html ._tv-dialog {
    border-color: #1B222D;
}

html ._tv-dialog {
    background: #1B222D;
}

html .pane-legend-title__details {
    font-size: 10px!important;
}

